
/backend/Diabetia/Diabetia.API/bin
/backend/Diabetia/Diabetia.Domain/obj
/backend/Diabetia/Diabetia.API/obj
/backend/Diabetia/Diabetia.Application/bin
/backend/Diabetia/Diabetia.Application/obj
/backend/Diabetia/Diabetia.Domain/bin
/backend/Diabetia/Diabetia.Domain/obj
/backend/Diabetia/Diabetia.Infrastructure/obj
