backend/Diabetia/Diabetia.API/bin/*
backend/Diabetia/Diabetia.API/obj/*
backend\Diabetia\.vs\*

Debug/
Release/

.vs/
.vscode/
*.suo
*.sln
*.user
*.userprefs
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
bin/
