<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AWSAccessKey" value="AKIASUZOITNTBRJB6SGZ"/>
		<add key="AWSSecretKey" value="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"/>
		<add key="LogMealToken" value="33576b53da612d5a3a53552ba6c0659b4036f9bd"/>
	</appSettings>
</configuration>

