<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AWSAccessKey" value="AKIASUZOITNTBRJB6SGZ"/>
		<add key="AWSSecretKey" value="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"/>
		<add key="LogMealToken" value="1da60fa3c3649a4875bfe122dbe3f402f4301846"/>
	</appSettings>
</configuration>

