<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AWSAccessKey" value="AKIASUZOITNTBRJB6SGZ"/>
		<add key="AWSSecretKey" value="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"/>
		<add key="LogMealToken" value="a0269a4a22e1f6b523bf25862d5f964dbfd1182d"/>
	</appSettings>
</configuration>

